.text {font-family: 'Merriweather', serif;
font-size: 12px;
display: inline-block;
width: 80%;
text-align: left;
/*padding-left: 10%;*/
padding-bottom: 175px;
position: relative;
top: 8px;
left: 16px;
padding-top:50px }}

.wrapper {position: relative;
width: 100%;
min-height: 100%;
padding-bottom: 150}
.row {display: flex;}
.column1 {flex: 6;
padding-left: 50px;
/*padding-top: 40px*/}
.column2 {flex: 1;
padding-top: 110px}
.introduction:hover {color:#751906; }
.keyplayers:hover {color:#751906; }
.history:hover {color:#751906; }
.legacy:hover {color:#751906; }

html {margin: 0;
background-color: #EFE1D6}
body {margin: 0;}
a .introduction:active {color: blue;}
.indent {padding-left: 10px}
.text {font-family: 'Merriweather', serif;
font-size: 12px;
display: inline-block;
width: 80%;
text-align: left;
color: #7C6E64;
/*padding-left: 10%;*/
/*padding-bottom: 175px;
*/position: relative;
/*top: 8px;*/
/*left: 16px;
padding-left: 50px*/
/*padding-top:50px*/ }

.sourcetext {font-family: 'Merriweather', serif;
font-size: 10px;
text-align: left;
padding-top: 25px;
padding-bottom: 25px;
padding-left: 50px;
color: #EFE1D6;}
.sources { font-family: 'Merriweather', serif;
bottom: 0;
/*padding-left: 50px;*/

background-color: #751906;
/*position: absolute;*/
width: 100%;
background-size: cover;
overflow: hidden;
margin: 0

 }


ul {list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
width: 100%;
background-color: #EFE1D6;
text-align: center; 
-webkit-box-shadow: -7px 3px 22px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -7px 3px 22px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -7px 3px 22px 0px rgba(50, 50, 50, 0.75);}

li {
	/*float: left */
display: inline-block;
}

li a {display: block;
color: #7C6E64;
text-align: center;
/*background-color: #C33131;*/ 
padding: 14px 50px;
padding-bottom: 50px;
text-decoration: none;
font-family: 'Oswald', sans-serif; }