html {font-family: 'Poiret One', cursive; text-align: center;}

.heading { font-weight: bold;font-size: 2rem; text-decoration: underline;color: #1C5069;}
.heading2 {font-weight: bold;font-size: 6rem;font-family: 'Monoton', cursive;color: #1C5069; word-spacing: 1.7rem;background-color: #3F8EB6; background-image:url(file:///Users/saraberman/Desktop/Wash%20U%20Fall%202018/if%20fall%202018/publish/lyrics-exercise-images/images/bread.jpg); opacity: 10%; }
.heading3 {font-weight: bold;font-size: 2rem;color: #CD1F1F;  }
.verse {color: #CD1F1F; line-height: 3rem}
a {text-decoration: none; color: #1C5069}



