/*.line {width: 100%;
height: 8px;
margin-top: 0;
background-color: #751906;
z-index: 100;
margin-bottom: 50px}*/

.sources .row {display: flex;
	font-family: 'Merriweather', serif;
font-size: 10px;
text-align: left;
padding-top: 25px;
padding-bottom: 25px;
padding-left: 10px;
color: #EFE1D6;
}
.sources .column1 {flex: 1;}
.sources .column2 {flex: 1;}
.sources .column3 {flex: 1;}

.sources { font-family: 'Merriweather', serif;
bottom: 0;
/*padding-left: 50px;*/

background-color: #751906;
/*position: absolute;*/
width: 100%;
background-size: cover;
overflow: hidden;
margin: 0

 }

.mobilehome {display: none;}


@media (max-width: 850px) { .desktophome {display: none;} .mobilehome {display: block;
	} .collage img {display: none;}}

@media (min-width: 850px) { .mobilehome {display: block;}  }
/*li {display: block;}*/
	
@media (max-width: 850px) {.wrapper ul {display: none;}}


body {
				margin: 0;
				padding: 0;
				font-family: Arial, sans-serif;
			}

			@media (max-width: 850px){#drawer {
				position: fixed;
				top: 0;
				left: 10px;
				width: 250px;
				height: 30px;
				z-index: 100;
			}}

	@media {#drawer button.controls {
				position: absolute;
				left: 0;
				bottom: 0;
				height: 30px;
				/*width: 100%;*/
				/*background-color: #ccffcc;*/
				cursor: pointer;

			}}
			@media (min-width: 850px) {#drawer button.controls {
				position: absolute;
				left: 0;
				bottom: 0;
				height: 30px;
				/*width: 100%;*/
				/*background-color: #ccffcc;*/
				cursor: pointer;
				display: none;
			}}

			#drawer.open button.controls {
				/*background-color: #ccccff;*/
			}

			#drawer button.controls:after {
				content: "<i class="fa fa-bars" aria-hidden="true"></i>"
				/*font-family: Arial, sans-serif;
				font-size: 10px;
*/			}

			#drawer.open button.controls:after {
				/*content: "close -";*/
			}

			#drawer .contents {
				height: 0;
				padding: 0 10px;
				box-sizing: border-box;
				width: 100%;
				/*background-color: orange;*/
				color: #fff;
				transition: all .5s;
				overflow: hidden;
			}

			#drawer.open .contents {
				height: 600px;
				padding: 30px 10px 10px 10px;
			}
.text2 {
font-family: 'Oswald', sans-serif;
padding-top: 250px;
text-align: center; 
font-size: 200px;
color: #751906; }

.man {display: inline-flex; z-index: 1}
.man2 {display: inline-flex;z-index: 1}
.mansmaller {display: none;z-index: 1}
.mansmaller1 {display: none;z-index: 1}
.mansmaller2 {display: none;z-index: 1}
.man2smaller {display: none;z-index: 1}
.man2smaller1 {display: none;z-index: 1}
.man2smaller2 {display: none;z-index: 1}


 @media (max-width:1060px) {.man2smaller1 {display: inline-flex;}
.man2 {display: none;}
.man2smaller {display: none;}
.name {font-size:40px;}
.man2smaller2 {display: none;}
.text2 {font-size: 150px;}}

 @media (max-width: 800px){.man2smaller {display: inline-flex;}
.man2 {display: none;}
.man2smaller1 {display: none;}
.name {font-size:20px;}
.man2smaller2 {display: none;}
.text2 {font-size: 100px;}}

 @media (max-width: 600px){.man2smaller2 {display: inline-flex;}
.man2smaller {display: none;}
.man2 {display: none;}
.man2smaller1 {display: none;}
.name {font-size:20px;}
.text2 {font-size: 50px;}}

 @media (max-width:1060px) {.mansmaller1 {display: inline-flex;}
.man {display: none;}
.mansmaller {display: none;}
.name {font-size:40px;}
.mansmaller2 {display: none;}}

 @media (max-width: 800px){.mansmaller {display: inline-flex;}
.man {display: none;}
.mansmaller1 {display: none;}
.name {font-size:20px;}
.mansmaller2 {display: none;}}

 @media (max-width: 600px){.mansmaller2 {display: inline-flex;}
.mansmaller {display: none;}
.man {display: none;}
.mansmaller1 {display: none;}
.name {font-size:20px;}}

.introduction:hover {color:#751906; }
.keyplayers:hover {color:#751906; }
.history:hover {color:#751906; }
.legacy:hover {color:#751906; }


.name {font-family: 'Oswald',sans-serif;
padding-top: 40px;
text-align: center;
font-size: 40px;
color: #751906;}



.wrapper {position: relative;
width: 100%;
min-height: 100%;
/*padding-bottom: 50*/}
.row {
display: flex;}
.column1 {flex: 1;}
.column2 {flex: 2;}

.column3 {flex: 1;}

html {margin: 0;
background-color: #EFE1D6;
height: 100%;
width: 100%}
body {margin: 0}
ul {list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
width: 100%;
background-color: #EFE1D6;
text-align: center; 
-webkit-box-shadow: -7px 3px 22px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -7px 3px 22px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -7px 3px 22px 0px rgba(50, 50, 50, 0.75); }

li {
	/*float: left */
display: inline-block;
}

li a {display: block;
color: #7C6E64;
text-align: center;
/*background-color: #C33131;*/ 
padding: 14px 50px;
padding-bottom: 30px;
text-decoration: none;
font-family: 'Oswald', sans-serif; }

.images {margin-top: 50px}

.text {font-family: 'Merriweather', serif;
font-size: 12px;
display: inline-block;
width: 80%;
text-align: left;
/*padding-left: 10%;*/
padding-bottom: 50px;
position: relative;
top: 8px;
left: 16px;
padding-top:50px;
color: #7C6E64 }}


